version: 2.1

jobs:
  build-and-test:
    docker:
      - image: cimg/node:20.0.0
    steps:
      - checkout
      - run:
          name: Install Dependencies
          command: npm install
      - run:
          name: Build Project
          command: npm run build

workflows:
  version: 2
  check-my-code:
    jobs:
      - build-and-test
